body{
    margin: 0;
    padding: 0;
}

#second-container{
    height: 90vh;
    width: 100%;
    
}
#second-container h3{
    color:white;
    padding-top: 90px;
    text-align: center;
    text-shadow: 2px 0px 8px #ddc9c9;
}
#about{
    display: flex;
    height: 50%;
    width: 80%;
    border: 2px solid red;
    margin: auto;
    justify-content: space-around;
}
#about-left{
    width: 40%;
    height: 100%;
    border: 2px solid green;

}
#about-right{
    width: 40%;
    height: 100%;
    border: 2px solid rgb(61, 69, 61);
}



